@font-face {
  font-family: "HelveticaUltraLightRegular";
  src: local("HelveticaUltraLightRegular"),
    url(./assets/fonts/HelveticaUltraLt_0.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaCondensedRegular";
  src: local("HelveticaCondensedRegular"),
    url(./assets/fonts/ps.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: local("RobotoLight"),
    url(./assets/fonts/Roboto-Light_0.ttf) format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url(./assets/fonts/Roboto-Regular_0.ttf) format("truetype");
  font-weight: normal;
}
